In [ ]:
#Hecho por Juan Alejandro Ocampo Sanchez

1. Problema de asignación de recursos productivos:
Una empresa produce cuatro bienes diferentes y en cantidades diferentes: las cantidades producidas diariamente de los cuatro productos son  x1 ,  x2 ,  x3 ,  x4 . Si la ganancia por unidad de cada uno es  20, 12,  40y 25, respectivamente, encuentre la cantidad de producción total (diaria) que maximiza las ganancias para la empresa, teniendo en cuenta las siguientes condiciones:

La mano de obra contrada solo permite producir un número máximo de unidades por día de cincuenta (50).

Por cada unidad producida de cada uno se requieren las siguientes cantidades de materia prima A y de materia prima B: para el primer producto se necesitan solo tres (3) unidades de materia prima A; para el segundo producto requieren dos (2) unidades de la materia prima A y una (1) unidad de la materia prima B; para el tercer producto necesita una (1) unidad de materia prima A y dos (2) unidades de B. Finalmente, para el cuarto producto se requieren solo tres (3) unidades de materia prima B.

Debido a la disponibilidad de transporte y almacenamiento en bodega, solo se pueden disponer diariamente cien (100) unidades de la materia prima A y noventa (90) unidades de B.

Formular y resolver el problema de optimización.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.optimize import minimize
from scipy.optimize import linprog

In [3]:
df = pd.DataFrame({' ' : ['Material A', 'Material B', 'Ganancia'],
        'Product 1' : [3, 0, 20],
        'Product 2' : [2, 1, 12],
        'Product 3' : [1, 2, 40],
        'Product 4' : [0, 3, 25]})
df

               Product 1  Product 2  Product 3  Product 4
0  Material A          3          2          1          0
1  Material B          0          1          2          3
2    Ganancia         20         12         40         25

In [2]:
c =np.array([20, 12, 40, 25])
c

array([20, 12, 40, 25])

In [4]:
A = np.array([[1,1,1,1],
              [3,2,1,0],
              [0,1,2,3]])
b = np.array ([50,100,90])

soltarea = linprog(-c, A_ub=A, b_ub=b,method="simplex") # ub=desigualdad eq=igualdad 
soltarea

     con: array([], dtype=float64)
     fun: -1899.9999999999998
 message: 'Optimization terminated successfully.'
     nit: 4
   slack: array([0.00000000e+00, 4.00000000e+01, 1.42108547e-14])
  status: 0
 success: True
       x: array([ 5.,  0., 45.,  0.])